.big_text {
    position: absolute;
    left: 240px;
    top: 60px;
    overflow: visible;
    width: 305px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: black;
}

.small_text {
    position: absolute;
    overflow: visible;
    width: 194px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: black;
}

.name_input {
    position: absolute;
    overflow: visible;
    width: 520px;
    height: 80px;
    font-size: 52px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: black;
    color: black;
    border-width: 1px;
}

.text_input {
    position: absolute;
    overflow: visible;
    width: 500px;
    height: 50px;
    font-size: 32px;
    color: dimgrey;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.number_input {
    position: absolute;
    overflow: visible;
    width: 220px;
    height: 50px;
    font-size: 32px;
    color: dimgrey;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.number_output {
    position: absolute;
    overflow: visible;
    width: 220px;
    height: 50px;
    font-size: 32px;
    color: dimgrey;
    background-color: white;
}

.main_frame {
    position: absolute;
    box-sizing: border-box;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    background: #E5E5E5;
    width: 1000px;
    height: 720px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    margin: 0;
    padding: 0;
    --web-view-name: Register;
    --web-view-id: Register;
    --web-center-horizontally: true;
    --web-center-vertically: true;
    --web-enable-deep-linking: true;
}

.box {
    position: absolute;
    overflow: visible;
    width: 600px;
    height: 700px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    background-color: rgba(255,255,255,1);
    border-radius: 2px;
    border-color: black;
    border-width: 3px;
    border-style: double;
}

.next {
    position: absolute;
    width: 160px;
    height: 48px;
    left: 600px;
    top: 620px;
    overflow: visible;
    border-radius: 2px;
    border-style: hidden;
    background-color: blue;
    color: white;
}

.continue {
    position: absolute;
    left: 26px;
    top: 3px;
    overflow: visible;
    width: 109px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;	
}

.menu_button {
    position: absolute;
    width: 520px;
    height: 70px;
    overflow: visible;
    background-color: white;
    border-radius: 2px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.menu_button:hover {
    animation-name: clipMe;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes clipMe {
    0%, 100% {border-width: 1px}
    50% {border-width: 3px}
}

.menu_button_content {
    position: absolute;
    top: 50%;
    width: 100%;
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: black;
    transform: translateY(-50%);
}

.MMC_balance_wrapper {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 600px;
    top: 60px;
    overflow: visible;
}

.MMC_balance_number {
    position: absolute;
    left: 640px;
    top: 64px;
    overflow: visible;
    width: 120px;
    white-space: nowrap;
    text-align: right;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: black;
    text-align: right;
}

.MMC_coin {
    position: absolute;
    overflow: visible;
    width: 44px;
    height: 44px;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
}

.MMC_coin_text {
    position: absolute;
    left: 0px;
    top: 12px;
    overflow: hidden;
    width: 44px;
    height: 24px;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: black;
}

.back_button {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 240px;
    top: 30px;
    overflow: visible;
    border-style: hidden;
    background-color: white;
}

.back_button_arrow {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.back_button_arrow_path {
    overflow: visible;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 20px;
    transform: matrix(1,0,0,1,0,0);
}

.back_button_arrow:hover {
    transform: scale(1.1);
}

.marketplace_order_box {
    position: absolute;
    width: 520px;
    height: 70px;
    overflow: visible;
    background-color: white;
    border-radius: 2px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.marketplace_order_box:hover {
    border-width: 2px;
}

.marketplace_order_box_content {
    position: absolute;
    overflow: visible;
    width: 520px;
    height: 70px;
    left: 0px;
    top: 0px;
}

.marketplace_order_box_text {
    position: absolute;
    left: 12px;
    top: 18px;
    overflow: visible;
    width: 244px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: black;
}

.price_tag {
    position: absolute;
    left: 355px;
    top: 17px;
    overflow: visible;
    width: auto;
    height: 30px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: black;
    border-color: black;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    padding: 0px 6px 0px 6px;
    transform: translateX(-50%);
}

.buy_order_tag {
    position: absolute;
    left: 430px;
    top: 17px;
    overflow: visible;
    width: 54px;
    height: 30px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(0,204,26,1);
    border-color: rgba(0,204,26,1);
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
}

.sell_order_tag {
    position: absolute;
    left: 430px;
    top: 17px;
    overflow: visible;
    width: 54px;
    height: 30px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(204,0,0,1);
    border-color: rgba(204,0,0,1);
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
}

.buy_sell_radio_button {
    display: block;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    font-size: 23px;
    line-height: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.buy_sell_radio_button input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.buy_sell_radio_button input:checked ~ .checkmark:after {
    display: block;
  }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #eee;
    border-radius: 50%;
  }

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

.buy_sell_radio_button input:checked ~ .checkmark {
    background-color: blue;
  }

.buy_sell_radio_button .checkmark:after {
    top: 11px;
    left: 7.5px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
    transform: translateX(-50%);
    transform: translateY(-50%);
  }

.scroll_area {
      position: absolute;
      top: 140px;
      left: 240px;
      overflow: scroll;
      height: 520px;
      width: 520px;
  }

.scroll_area::-webkit-scrollbar {
    display: none;
}

.small_button {
    position: absolute;
    top: 50%;
    width: 25%;
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: black;
    transform: translateY(-50%);
}

.small_button:hover {
    animation-name: clipMe;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.small_button_content {
    position: absolute;
    top: 50%;
    width: 100%;
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: black;
    transform: translateY(-50%);
}